#==============
# My alias list
#==============

declare -A pomo_options
pomo_options["work"]="25"
pomo_options["break"]="5"

pomo() {

    iconDir="$HOME/.local/share/icons"
    # iconTheme="Papirus"
    iconName="pomodoro"
    icon=$(find "$iconDir" -type f -name "*$iconName*.svg" | head -n 1)

    if [ -z "$ICON_PATH" ]; then
        echo "Ícone não encontrado. Usando um ícone padrão."
        icon="$HOME/.config/dunst/pomodoro/pomodoro.png"
    fi

    if [[ -n "$1" && -n "${pomo_options["$1"]}" ]]; then
        val="$1"
        echo "$val" | lolcat
        timer ${pomo_options["$val"]}m
        spd-say "'$val' session done"
        notify-send "Tarefa concluída" -i $icon -u low -t 3000 --hint=int:transient:1
    fi
}

alias pwo="pomodoro 'work'"
alias pbr="pomodoro 'break'"

alias ytd='yt-dlp'

# Vi, Vim and Neovim Aliases

# alias ovi="/usr/bin/vi"
# alias vi="/usr/bin/vim"
# alias vi="/usr/bin/nvim"

alias nvi="nvim"
alias nv="nvim"
alias lvi="lvim" # Open LunarVim
alias lv="lvim"  # Open LunarVim
alias nvrc="nvim ~/.config/nvim/init.vim" # Abre arquivo de configuração do neovim
alias nbrc="nvim ~/.bashrc"               # Abre arquivo de configuração do bash
alias nzrc="nvim ~/.zshrc"                # Abre arquivo de configuração do zsh
alias nv.="nvim ."
alias nnvi="~/apps/nvim/nvim_v0.11/nvim_v0.11.5.appimage" # Open a Neovim AppImage for tests

# Visual Studio Code Aliases
alias vsc="code"
alias code.="code . & disown"
alias vsc.="code . & disown"

# music player
alias mpg="mpg123"
alias play="mpg123"
alias musicp="ncmp" # Alias to custom NCMPCPP and MPD function
alias music="mocp -m"
alias amp="audacious"
# alias screenshot="flameshot gui"

alias wlcopy="wl-copy"
alias copia="wl-copy"
alias wlpaste="wl-paste"
alias cola="wl-paste"
alias wlcmd="fc -ln -1 | sed 's/^\s*//' | wl-copy && echo 'Last command copied to clipboard.'"
alias wl-lastcmd="fc -ln -1 | sed 's/^\s*//' | wl-copy && echo 'Last command copied to clipboard.'"

# Aliases with ls
# alias lc='ls -Cash'
# alias lsl='ls -l'
# alias lss='ls -sh'
# alias ll='ls -lht'
# alias la='ls -aCt'
# alias lla="ls -tlha"
# alias lm="ls -alht | more"

### ls to Colorls
# alias ls='colorls' # Desative se houver problemas ao executar scripts
# alias lc='colorls'
# alias lsc='colorls'
# alias lcc='lc -Cah'
# alias lsl='lc -l'
# alias lss='lc -sh'
# alias ll='lc -lht'
# alias la='lc -aCt'
# alias lla="lc -tlha"
# alias lm="lc -alht | more"

### ls to exa
#alias ls='eza --icons=auto' # Desative se houver problemas ao executar scripts
alias ls="eza"
alias li='eza --icons' # Desative se houver problemas ao executar scripts
alias lt='eza --icons -snew'
alias ll='eza --icons -lgh'
alias llt='eza --icons -lghsnew'
alias la='eza --icons -a'
alias lat='eza --icons -asnew'
alias lla='eza --icons -lgha'
alias llat="eza --icons -lghasnew"
alias lm="eza --icons -lghasnew | more"

### nuls
alias nls="nuls"

# Aliases from zsh-colorls plugin
# lc	colorls	Colorls with no options
# l	colorls -l	List files
# ll	colorls -lA	List, show almost all files (excludes ./ and ../)
# la	colorls -la	List, show all files
# lt	colorls -lt	List, sort by modification time (newest first)
# lS	colorls -lS	List, sort by size (largest first)
# lr	colorls --tree=5	Show tree heirarchy, capped at depth 5 just in case
# lx	colorls -lX	List, sort by file type

alias rmdir='rmdir -v'
alias rmd='rmdir -v'                      # Same as above.
alias del='rm -vi'                          # Interactive remove. safer
alias cp="cp -vi"                          # confirm before overwriting somethin    g
alias mv="mv -vi"                          # confirm before overwriting somethin    g
alias df="df -h"                          # human-readable sizes
alias mo="more"
alias mkd="mkdir -pv"
alias mkf="touch"                         # make a file
alias free="free -m"                      # show sizes in MB
alias fsize='du -sh'
alias dsize='du -hd 0'                    # Show the size of directory
alias fz='du -sh'
#alias np="nano -w PKGBUILD"

alias jb='jobs' # List all jobs running in the background
alias btctl="bluetoothctl"

alias vol="pipewirectl set"

alias logoff="sudo pkill -KILL -u"

#alias spy="pqiv"                         # Visualisador de imagens pelo terminal
alias xplore="yazi"                    # Explorador de arquivos
alias xp="yazi"                    # Explorador de arquivos
alias arquivos="yazi"                    # Explorador de arquivos

# alias bro="qutebrowser & disown"
# alias qute="qutebrowser & disown"

# alias cat="bat"  # Troca o gato pelo morcego xD

alias exif="exiftool"

alias cool="cool-retro-term -p futuristic --fullscreen & disown"

#TMUX Alias
alias tmx="tmux"
alias tmxns="tmux new -s"
alias tmxks="tmux kill-session -t"
alias tmxa="tmux attach -t"

alias atalhos="nvim $HOME/.aliases"

# BSPWM Aliases
alias composi="nvim ~/.config/picom/picom.conf"
alias bspcfg="nvim ~/.config/bspwm/bspwmrc"
alias keycfg="nvim ~/.config/sxhkd/sxhkdrc"
alias barcfg="nvim ~/.config/polybar/themes/tempest_rc/config.ini"
alias chwall="nvim ~/.fehbg"

# Hyprland Aliases
alias chwppr="$HOME/.config/hypr/scripts/SwitchWallpaper.sh"

alias matrix="cmatrix -asC blue"
alias ips='ip -c -br a'
alias please='sudo'
alias fetch='fastfetch'
alias wdis='if [ -f ./onde_eu_parei.md ]; then cat onde_eu_parei.md; else echo -e Arquivo \"onde_eu_parei.md\" não encontrado neste diretório!; fi'
# alias ask='echo "Pergunte: " && read pergunta && shell-genie ask "$pergunta"'
# alias ask='shell-genie ask'

## APPIMAGES
alias obsidian='~/apps/Obsidian.AppImage & disown'
alias spfy="~/apps/spotify/Spotify.AppImage"

alias list-services='systemctl list-units --type=service'
alias ports='netstat -tulanp'
alias cls='clear'
alias :q='exit'
# alias desliga='poweroff'

# Github Copilot CLI
# alias cop='gh copilot'
# alias gcs='gh copilot suggest'
# alias gce='gh copilot explain'

# alias raspi-login="ssh leandro@10.0.0.200"
alias spring-init="curl https://start.spring.io/starter.zip"

# --- Docker ---
alias start-docker='sudo systemctl start docker'
alias stop-docker=' sudo systemctl stop docker docker.socket'

## Functions
zip-all(){
  for file in *."$1"; do
    if [ -f "$file" ]; then
      basename="$(basename "$file" ."$1")"
      zip "$basename".zip "$file" && rm "$file"
    else
      echo "Cannot zip $file!"
    fi
  done
}

7z-all(){
  for file in *."$1"; do
    if [ -f "$file" ]; then
      basename="$(basename "$file" ."$1")"
      7z a "$basename".7z "$file" && rm "$file"
    else
      echo "Cannot compress $file!"
    fi
  done
}
