## Home Directory
*.pyc
*.pyo
*.class
*.log

#.git/
/.appimages/
/Arduino/
.arduino15
/.arduinoIDE/
/Área de trabalho/
.bash_history
.bash_logout
.bash_profile
.bashrc.omb-uninstalled-20231209144821
/.byobu/
/.doom.d/
/.cargo/
/.docker/
/docker-images
/Documentos/
/Downloads/
/.eclipse/
/eclipse-workspace/
/.emacs.d/
.gnupg/
/.fonts/
/.gnome/
.hplip/
/.icons/
/inspire-dotfiles/
/.kde4/
/.lemminx/
/.links/
/.lyrics/
/.m2/
/.mozilla/
/Modelos/
.moc/pid
.moc/last_directory
.mplayer/
/mpv-osc-modern/
/Música/
/net.downloadhelper.coapp-1.6.3/
/.npm/
/node_modules/
.oh-my-bash/
.p10k.zsh.bak
/.pki/
/Postman/
.psensor/
/Público/
/Vídeos/
/workspace/
/.rustup/
/.ssh/
.ssr/
.scripts/start_project.sh
.steam/
.steampath
.steampid
.zsh/.zshrc
.sts4/
/.swt
/.subversion/
/.themes/
/.var/
/.vim/
/.vscode/
/.yarn/
/.redhat/
/.p2/
/.java/
.dir_colors
.fonts.conf
.gitconfig
#.gitignore
.gitignore.old
.gtkrc-2.0
.lesshst
.luarc.json
.mysql_history
.node_repl_history
.sdirs
/.session-rtorrent/
.viminfo
/.vnc/
/.webclipse/
.wget-hsts
.Xauthority
.Xclients
.xinitrc
.yarnrc
.zcompdump
.zhistory
.python_history

## not ignored
!.fehbg
!.zshrc
!.bashrc
!.my_aliases
!.my_functions
!.p10k.zsh
!.rtorrent.rc
!.tmux.conf

## Imagens
Imagens/*
!/Imagens/wallpapers/
!/Imagens/screenshots/

/.cache/

!/.zsh/
.zsh/cache/

## .config
.config/*
!/.config/alacritty/
!/.config/bat/
!/.config/betterlockscreenrc/
!/.config/bspwm/
!/.config/bashtop/
!/.config/btop/
!/.config/cava/
.config/cava/shaders/
!/.config/cmus/
!/.config/eww/
!/.config/flameshot/
!/.config/htop/
!/.config/lazygit/
!/.config/lvim/
!/.config/moc/
!/.config/micro/
!/.config/neofetch/
!/.config/nnn/

## Neovim
.config/nvim/
.config/nvim/*
!/.config/nvim/lua/
!/.config/nvim/init.lua

!/.config/kitty/
!/.config/redshift/

!/.config/mpv/
~/.config/mpv/watch_later

.config/Code/*
!/.config/Code/Backups/

!/.config/mpd/
.config/mpd/*
!/.config/mpd/mpd.conf
!/.config/mpd/mpd.fifo
!/.config/mpd/socket
#!/.config/mpd/playlists/
#!/.config/mpd/database

!/.config/picom/
.config/picom/picom.conf.example
.config/picom/picom.conf.bak
.config/picom/picom.conf.bak-2

#!/.config/gcolor3/

## Dunst
!/.config/dunst/
.config/dunst/*
!/.config/dunst/dunstrc
!/.config/dunst/bluetooth_notfication.sh
!/.config/dunst/brightness_notification.sh
!/.config/dunst/calendar.sh
!/.config/dunst/music_notification.sh

## NCMPCPP
!/.config/ncmpcpp/
.config/ncmpcpp/*
!/.config/ncmpcpp/config

## nnn
!/.config/nnn/

## Polybar
!/.config/polybar/
!/.config/polybar-neon/
!/.config/polybar-neon/polybar-neon-alt/

#!/.config/pulse/
!/.config/pulseaudio-ctl/
!/.config/ranger/

## VLC
!/.config/vlc/

## Rofi
!/.config/rofi/
.config/rofi/*
!/.config/rofi/app_menu/
!/.config/rofi/config
!/.config/rofi/config.rasi
!/.config/rofi/music/

!/.config/rofi/rofi-bluetooth/
.config/rofi/rofi-bluetooth/*
!/.config/rofi/rofi-bluetooth/LICENSE
#!/.config/rofi/rofi-bluetooth/menu.gif
#!/.config/rofi/rofi-bluetooth/README.md
!/.config/rofi/rofi-bluetooth/rofi-bluetooth
!/.config/rofi/rofi-bluetooth/theme.rasi

!/.config/rofi/themes/
!/.config/rofi/wifi/
#!/.config/rofi/powermenu/

## SXHKD
!/.config/sxhkd/
/.config/sxhkd/hotkeys.txt

## zathura
!/.config/zathura/

## .local
.local/*

## local/bin
!/.local/bin
/.local/bin/activate-global-python-argcomplete
/.local/bin/python-argcomplete-check-easy-install-script
/.local/bin/register-python-argcomplete
/.local/bin/pipx
/.local/bin/openai
/.local/bin/obsidian
/.local/bin/arduino
/.local/bin/sgpt
/.local/bin/chatgpt.sh
# .local/bin/*
# !/.local/bin/pulseaudio-ctl

## local/share
# !/.local/share
# .local/share/*
# !.local/share/rofi/
#!.local/share/ranger/
#!.local/share/fonts/
#!.local/share/icons/
