## Home Directory
*.pyc
*.pyo
*.class
*.log

#.git/
apps/
/Arduino/
.android/
.arduino15
/.arduinoIDE/
/Área de trabalho/
/backups/
.bash_history
.bash_logout
.bash_profile
.bashrc.omb-uninstalled-20231209144821
/.byobu/
/.cache/
/.cargo/
/chone.tar.gz
/Desktop/
.dir_colors
/.docker/
/docker-images
/Documentos/
/Downloads/
/.eclipse/
/eclipse-workspace/
/.emacs.d/
.face
.face.jpg
.fonts.conf
.gitconfig
.gitignore.old
/.gk/
/.gnome/
/.gnupg/
/go/
.gtkrc-2.0
.h2.server.properties
/.hplip/
/.icons/

## Imagens
Imagens/*
!/Imagens/wallpapers/
!/Imagens/screenshots/

/inspire-dotfiles/
/.java/
/.john/
/.kde4/
/.lemminx/
.lesshst
/.links/
.luarc.json
/.m2/
/.moc/
/Modelos/
/.mozilla/
/.mplayer/
/mpv-osc-modern/
/Música/
/.mutt/
.mysql_history
/net.downloadhelper.coapp-1.6.3/
/node_modules/
.node_repl_history
/.npm/
.oh-my-bash/
/.p2/
.p10k.zsh.bak
.p10k.zsh.bkp
package.json
package-lock.json
/.pki/
.psensor/
.python_history
/Postman/
/Público/
/.redhat/
.rtorrent.rc
/.rustup/
.sdirs
/.session-rtorrent/
/.ssh/
/.ssr/
.scripts/start_project.sh
st/
.steam/
.steampath
.steampid
/.sts4/
/.subversion/
/.swt
/.themes/
/.var/
/.vscode/
/.yarn/
/.redhat/
.sdirs
/.session-rtorrent/
/.var/
/Vídeos/
.viminfo
/.vimiv/
/.vnc/
/.vscode/
/.w3m/
/.webclipse/
.wget-hsts
/workspace/
.Xauthority
.Xclients
.xinitrc
/.yarn/
.yarnrc
.zcompdump
.zhistory
/yt-dlp/
/workspace/

## not ignored
!.fehbg
!.zshrc
!.bashrc
!.aliases
!.functions
!.p10k.zsh
!.tmux.conf
!/.vim/
.vim/plugged/*

!/.zsh/
.zsh/cache/

############################################################################################################

## .config
.config/*
!/.config/alacritty/
!/.config/bashtop/
!/.config/bat/
!/.config/bspwm/
!/.config/btop/
!/.config/betterlockscreenrc
!/.config/cava/
.config/cava/shaders/
!/.config/cmus/

## Vscode
!.config/Code/
.config/Code/*
!.config/Code/User/
.config/Code/User/*
!.config/Code/User/settings.json
!.config/Code/User/keybindings.json

## Dunst
!/.config/dunst/
.config/dunst/*
!/.config/dunst/dunstrc
!/.config/dunst/bluetooth_notfication.sh
!/.config/dunst/brightness_notification.sh
!/.config/dunst/calendar.sh
!/.config/dunst/music_notification.sh

!/.config/eww/
!/.config/fastfetch/
!/.config/flameshot/
!/.config/htop/
!/.config/hypr/

!/.config/kew/
!/.config/kitty/

!/.config/lazygit/
!/.config/micro/
!/.config/moc/

# mpd
!/.config/mpd/
.config/mpd/*
!/.config/mpd/mpd.conf
!/.config/mpd/mpd.fifo
!/.config/mpd/socket
#!/.config/mpd/playlists/
#!/.config/mpd/database

# mpv
!/.config/mpv/
.config/mpv/watch_later

!/.config/neofetch/

## NCMPCPP
!/.config/ncmpcpp/
.config/ncmpcpp/*
!/.config/ncmpcpp/config

## nnn
!/.config/nnn/

## Neovim
!/.config/nvim/
# .config/nvim/*
# !/.config/nvim/lua/
# !/.config/nvim/init.lua

# picom
!/.config/picom/
.config/picom/picom.conf.example
.config/picom/picom.conf.bak
.config/picom/picom.conf.bak-2

#!/.config/gcolor3/

## Polybar
!/.config/polybar/

#!/.config/pulse/
!/.config/pulseaudio-ctl/
!/.config/ranger/

!/.config/redshift/

## Rofi
!/.config/rofi/
.config/rofi/*
!/.config/rofi/app_menu/
!/.config/rofi/config
!/.config/rofi/config.rasi
!/.config/rofi/music/
!/.config/rofi/scripts/
!/.config/rofi/rofi-bluetooth/
.config/rofi/rofi-bluetooth/*
!/.config/rofi/rofi-bluetooth/LICENSE
#!/.config/rofi/rofi-bluetooth/menu.gif
#!/.config/rofi/rofi-bluetooth/README.md
!/.config/rofi/rofi-bluetooth/rofi-bluetooth
!/.config/rofi/rofi-bluetooth/theme.rasi
!/.config/rofi/themes/
!/.config/rofi/wifi/
#!/.config/rofi/powermenu/

!/.config/speech-dispatcher/
!/.config/swappy/

## Swaync
!/.config/swaync/

## SXHKD
!/.config/sxhkd/
/.config/sxhkd/hotkeys.txt

!/.config/terminator/
!/.config/ueberzugpp/

## VLC
!/.config/vlc/

## Waybar
!/.config/waybar/

!/.config/wlogout

## zathura
!/.config/zathura/

############################################################################################################

## .local
.local/*

## local/bin
!/.local/bin/
.local/bin/*
!/.local/bin/youtube_downloader
!/.local/bin/pomodoro
!/.local/bin/changevolume
!/.local/bin/changebrightness
!/.local/bin/screenshot

## local/share
# !/.local/share
# .local/share/*
# !.local/share/rofi/
#!.local/share/ranger/
#!.local/share/fonts/
#!.local/share/icons/
