[submodule ".local/share/lunarvim/lvim"]
    path = .local/share/lunarvim/lvim
    url = https://github.com/LunarVim/LunarVim.git
    ignore = dirty

[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/leandrofmoraes/neovim-configs
