* { all: unset; font-size: 50px; }

tooltip { background-color: black; }

.example
{
    background-color: darkblue;
    border: 1px solid purple;
    border-radius: 8px;
    padding: 8px;
    margin: 1px;
    margin-right: 0px;
}
