* {
  background-image: none;
  font-size: 64px;
}

window {
  background-color: transparent;
}

button {
  color: #62AEEF;
  background-color: rgba(2,2,33,0.4);
  outline-style: none;
  border: none;
  border-width: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  border-radius: 0px;
  box-shadow: none;
  text-shadow: none;
  animation: gradient_f 20s ease-in infinite;
}

button:focus {
  background-color: rgba(2,2,33,0.6);;
  background-size: 30%;
}

button:hover {
  color: #020221;
  background-color: #62AEEF;
  background-size: 40%;
  border-radius: 16px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover#lock {
  border-radius: 16px;
  margin : 5px 0px 5px 0px;
  }

  button:hover#logout {
    border-radius: 16px;
    margin : 2px 0px 2px 0px;
  }

  button:hover#suspend {
    border-radius: 16px;
    margin : 2px 0px 2px 0px;
  }

  button:hover#shutdown {
    border-radius: 16px;
    margin : 2px 0px 2px 0px;
  }

  button:hover#hibernate {
    border-radius: 16px;
    margin : 2px 0px 2px 0px;
  }

  button:hover#reboot {
    border-radius: 16px;
    margin : 2px 0px 2px 0px;
  }

  #lock {
    background-image: image(url("icons/lock.png"));
    border-radius: 16px 0px 0px 16px;
    margin : 2px 0px 2px 0px;
}

#logout {
  background-image: image(url("icons/logout.png"));
  border-radius: 0px 0px 0px 0px;
  margin : 2px 0px 2px 0px;
}

#suspend {
  background-image: image(url("icons/suspend.png"));
  border-radius: 0px 0px 0px 0px;
  margin : 2px 0px 2px 0px;
}

#shutdown {
  background-image: image(url("icons/shutdown.png"));
  border-radius: 0px 0px 0px 0px;
  margin : 3px 0px 2px 0px;
}

#hibernate {
  background-image: image(url("icons/hibernate.png"));
  border-radius: 0px 0px 0px 0px;
  margin : 2px 0px 2px 0px;
}

#reboot {
  background-image: image(url("icons/reboot.png"));
  border-radius: 0px 16px 16px 0px;
  margin : 2px 0px 2px 0px;
}
